// Game page Style
.boardHolder {
  display: flex;
  justify-content: space-around;
  width: max(60%, 760px);
}

.playerBoardDiv,
.enemyBoardDiv {
  display: flex;
  flex-direction: column;
}

.playerBoard,
.enemyBoard {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.boardRow {
  display: flex;
}

.headerDiv {
  display: flex;
  p {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.playerBoardCell,
.enemyBoardCell {
  border: 1px solid black;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.enemyBoardCell {
  &:hover {
    background-color: rgb(223, 5, 16);
  }
}

.hitShip {
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 740px) {
  .boardHolder {
    flex-direction: column;
    width: 80%;
    align-items: center;
  }
}
