.ship-0 {
  background-color: rgb(158, 6, 6);
}

.ship-1 {
  background-color: orange;
}

.ship-2 {
  background-color: green;
}

.ship-3 {
  background-color: blue;
}

.ship-4 {
  background-color: purple;
}
