.hit {
  z-index: 2;
  background: rgb(4, 37, 185);
}

.hitShip {
}

.ship-2 {
  background-color: purple;
}

.ship-3 {
  background-color: orange;
}

.ship-4 {
  background-color: green;
}

.ship-5 {
  background-color: rgb(158, 6, 6);
}
