// Base reset
@import './base';

@import './components/shipColor';
@import './components/setup';
@import './components/game';

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: grey;
  transition: box-shadow 500ms;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  background-color: grey;
  transition: box-shadow 500ms;
}

.modal {
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.131);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  .modalDiv {
    background-color: rgb(109, 108, 108);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    h2 {
      color: white;
      margin-bottom: 0.7em;
    }
  }
}

.title {
  font-size: 82px;
  font-family: 'Bungee Hairline', sans-serif;
  margin-top: 1em;
}

.header {
  margin: 0.7em;
}

.btn {
  display: flex;
  font-size: 18px;
  border: 1px solid black;
  padding: 0.5em;
  border-radius: 0.2em;
  margin: 0.3em;
  max-width: 180px;
  &:hover {
    background-color: rgb(65, 62, 62);
    color: white;
    border: 1px solid white;
  }
}

hr {
  color: white;
  width: 60%;
  height: 0px;
  margin-bottom: 1em;
}

.error {
  -webkit-box-shadow: inset 4px 4px 15px 0px red,
    0px 0px 15px 5px rgba(255, 10, 38, 0);
  box-shadow: inset 4px 4px 15px 0px red, 0px 0px 15px 5px rgba(255, 10, 38, 0);
}

.success {
  -webkit-box-shadow: inset 4px 4px 15px 0px green,
    0px 0px 15px 5px rgba(44, 186, 26, 0);
  box-shadow: inset 4px 4px 15px 0px green,
    0px 0px 15px 5px rgba(44, 186, 26, 0);
}
