// Base reset
@import './vars';
@import './base';

@import './components/shipColor';
@import './components/setup';
@import './components/game';

html,
body,
#root {
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: grey;
}

.modal {
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.131);
  // background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  .modalDiv {
    background-color: rgb(109, 108, 108);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    h2 {
      color: white;
      margin-bottom: 1em;
    }
    // height: 4em;
    // width: 7em;
  }
}

.title {
  font-size: 82px;
  font-family: 'Bungee Hairline', sans-serif;
}

.header {
  margin: 0.7em;
}

.btn {
  font-size: 18px;
  border: 1px solid black;
  padding: 0.5em;
  border-radius: 0.2em;
  margin: 0.3em;
  &:hover {
    background-color: rgb(65, 62, 62);
    color: white;
    border: 1px solid white;
  }
}

hr {
  color: white;
  width: 60%;
  margin-bottom: 1em;
}
